body {
    background-color: #FF8080;
    font-family: cursive;
}

.gamediv {
    margin-left: 500px;
    margin-top: 100px;
    font-family: cursive;
    width: 600px;
    height: 18rem;
    background-color: #F1B4BB;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

#playerText {
    color: blue;
}

#computerText {
    color: red;
}

#resultText {
    color: green;
}

.choiceBtns {
    width: 100px;
    height: 50px;
    background-color: rgb(216, 190, 190);
    border: 3px dotted black;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.choiceBtns:hover {
    background-color: #D988B9;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}